<a href="https://colab.research.google.com/github/JohnLloyd31/CPE311/blob/main/Seatwork_6_1_Exploratory_Data_Analysis_on_Your_Own_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Seatwork 6.1 Exploratory Data Analysis on Your Own Dataset

Instructions:

- Choose your own dataset from public repositories.
- Link your chosen dataset in this spreadsheet: Dataset SpreadsheetLinks to an  external site.
- Perform simple exploratory data analysis using descriptive statistics.
- Employ the same steps as done in the hands-on activity and provide your own - analysis of the dataset.
- Your submission must include your GitHub folder link that includes a customized readme file, Python Notebook Files, Dataset, and a simple presentation of your findings.

In [5]:
import pandas as pd
import numpy as np
filepath = '/content/AI.csv'
ai_df=pd.read_csv(filepath)
ai_df

,Timestamp,"On a scale from 1 to 5, how would you rate your knowledge and understanding of Artificial Intelligence (AI)?","On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for personal use?","On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for school-related tasks?","On a scale from 1 to 5, how interested are you in pursuing a career in Artificial Intelligence?",Do you know what Chat-GPT is?,What college are you in?
0,3/31/2023 19:59:11,5,5,5,5,Yes,"Science, Engineering, & Technology"
1,3/31/2023 19:59:45,4,3,4,4,Yes,"Science, Engineering, & Technology"
2,3/31/2023 20:06:25,3,3,5,1,No,Business
3,3/31/2023 20:10:55,4,3,5,2,Yes,Business
4,3/31/2023 20:14:34,5,2,1,5,Yes,Humanities & Social Sciences
...,...,...,...,...,...,...,...
253,10/24/2023 14:02:44,5,2,3,3,Yes,"Science, Engineering, & Technology"
254,10/24/2023 14:22:30,4,3,2,2,Yes,Arts & Media
255,10/25/2023 10:08:07,4,3,3,2,Yes,"Science, Engineering, & Technology"
256,11/6/2023 8:52:21,4,3,2,2,Yes,"Science, Engineering, & Technology"
257,1/25/2024 14:51:11,4,2,2,2,Yes,"Science, Engineering, & Technology"

In [6]:
print(ai_df.columns)

Index(['Timestamp',
       'On a scale from 1 to 5, how would you rate your knowledge and understanding of Artificial Intelligence (AI)?',
       'On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for personal use?',
       'On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for school-related tasks?',
       'On a scale from 1 to 5, how interested are you in pursuing a career in Artificial Intelligence?',
       'Do you know what Chat-GPT is?', 'What college are you in?'],
      dtype='object')

In [7]:
print(ai_df.dtypes)

Timestamp                                                                                                       object
On a scale from 1 to 5, how would you rate your knowledge and understanding of Artificial Intelligence (AI)?     int64
On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for personal use?                      int64
On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for school-related tasks?              int64
On a scale from 1 to 5, how interested are you in pursuing a career in Artificial Intelligence?                  int64
Do you know what Chat-GPT is?                                                                                   object
What college are you in?                                                                                        object
dtype: object

In [8]:
t_records = ai_df.shape[0]
print("Total number of records: ", t_records)

Total number of records:  258

In [10]:
knowGPT = ai_df[ai_df['Do you know what Chat-GPT is?'] == 'Yes']
knowGPT

,Timestamp,"On a scale from 1 to 5, how would you rate your knowledge and understanding of Artificial Intelligence (AI)?","On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for personal use?","On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for school-related tasks?","On a scale from 1 to 5, how interested are you in pursuing a career in Artificial Intelligence?",Do you know what Chat-GPT is?,What college are you in?
0,3/31/2023 19:59:11,5,5,5,5,Yes,"Science, Engineering, & Technology"
1,3/31/2023 19:59:45,4,3,4,4,Yes,"Science, Engineering, & Technology"
3,3/31/2023 20:10:55,4,3,5,2,Yes,Business
4,3/31/2023 20:14:34,5,2,1,5,Yes,Humanities & Social Sciences
6,3/31/2023 21:02:52,2,1,1,1,Yes,Humanities & Social Sciences
...,...,...,...,...,...,...,...
253,10/24/2023 14:02:44,5,2,3,3,Yes,"Science, Engineering, & Technology"
254,10/24/2023 14:22:30,4,3,2,2,Yes,Arts & Media
255,10/25/2023 10:08:07,4,3,3,2,Yes,"Science, Engineering, & Technology"
256,11/6/2023 8:52:21,4,3,2,2,Yes,"Science, Engineering, & Technology"
257,1/25/2024 14:51:11,4,2,2,2,Yes,"Science, Engineering, & Technology"

In [12]:
dknowGPT = ai_df[ai_df['Do you know what Chat-GPT is?'] == 'No']
dknowGPT

,Timestamp,"On a scale from 1 to 5, how would you rate your knowledge and understanding of Artificial Intelligence (AI)?","On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for personal use?","On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for school-related tasks?","On a scale from 1 to 5, how interested are you in pursuing a career in Artificial Intelligence?",Do you know what Chat-GPT is?,What college are you in?
2,3/31/2023 20:06:25,3,3,5,1,No,Business
5,3/31/2023 20:56:01,2,1,1,1,No,Nursing & Health Care
8,3/31/2023 21:13:52,3,3,3,1,No,"Science, Engineering, & Technology"
17,4/1/2023 4:08:57,1,1,1,1,No,Nursing & Health Care
18,4/1/2023 9:15:14,2,2,2,1,No,Nursing & Health Care
44,4/5/2023 19:03:23,2,1,1,1,No,Humanities & Social Sciences
45,4/5/2023 19:04:03,4,1,1,1,No,Business
46,4/5/2023 19:14:08,1,1,1,1,No,"Science, Engineering, & Technology"
49,4/5/2023 19:28:31,2,1,1,1,No,Education
52,4/5/2023 20:26:42,2,2,2,1,No,Education
53,4/5/2023 20:33:04,2,1,1,1,No,Nursing & Health Care
61,4/6/2023 7:13:56,2,2,2,2,No,Nursing & Health Care
69,4/6/2023 10:30:52,2,1,1,1,No,Business
78,4/6/2023 17:31:11,3,3,1,1,No,Education
79,4/6/2023 17:54:45,3,1,1,1,No,Humanities & Social Sciences
80,4/6/2023 19:58:38,2,2,2,3,No,Business
82,4/6/2023 23:43:43,4,2,4,1,No,Nursing & Health Care
83,4/7/2023 0:02:29,4,2,2,1,No,"Science, Engineering, & Technology"
104,4/9/2023 11:04:19,2,1,1,2,No,"Science, Engineering, & Technology"
105,4/9/2023 20:12:26,3,4,4,2,No,Arts & Media
116,4/10/2023 11:21:53,5,1,1,5,No,"Science, Engineering, & Technology"
118,4/10/2023 11:26:58,1,1,1,1,No,Business
135,4/11/2023 21:37:57,3,1,1,1,No,Humanities & Social Sciences
139,4/12/2023 15:19:46,1,1,1,1,No,Business
146,4/13/2023 8:19:30,3,2,1,2,No,Humanities & Social Sciences
152,4/14/2023 7:17:29,4,2,1,1,No,Education
154,4/14/2023 10:56:05,2,1,1,2,No,Business
165,4/16/2023 18:32:02,3,1,1,1,No,"Science, Engineering, & Technology"
171,4/17/2023 17:58:11,2,1,1,1,No,Humanities & Social Sciences
172,4/18/2023 6:44:53,3,2,3,1,No,Business
182,4/18/2023 15:06:48,2,2,1,1,No,Business
190,4/19/2023 12:11:31,3,2,1,2,No,"Science, Engineering, & Technology"
191,4/19/2023 14:07:29,2,2,2,1,No,"Science, Engineering, & Technology"
193,4/19/2023 14:38:50,2,3,2,2,No,Humanities & Social Sciences
206,4/20/2023 12:52:52,4,2,4,1,No,Business
216,4/20/2023 21:24:53,5,5,5,5,No,"Science, Engineering, & Technology"
234,4/25/2023 8:14:47,5,2,1,1,No,Humanities & Social Sciences

In [14]:
ave_knowledge = np.mean(ai_df['On a scale from 1 to 5, how would you rate your knowledge and understanding of Artificial Intelligence (AI)?'])
print("Average of knowlege and understading of ai:", round(ave_knowledge, 2))

Average of knowlege and understading of ai: 3.29

In [18]:
ave_usePU = np.mean(ai_df['On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for personal use?'])
print("Average of using ai for personal use:", round(ave_usePU, 2))

Average of using ai for personal use: 2.24

In [19]:
ave_useST = np.mean(ai_df["On a scale from 1 to 5, how often do you use Artificial Intelligence (AI) for school-related tasks?"])
print("Average of using ai for school task ralated:", round(ave_useST, 2))

Average of using ai for school task ralated: 2.1

#Data Analysis
-a